.items {
  padding-right: 30px;
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imageContainer {
  flex: 1;
  aspect-ratio: 1/1;
  position: relative;
}

.image {
  border-radius: 50%;
  border: 3px solid lightgray;
  object-fit: cover;
}

.textContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category {
  padding: 3px 8px;
  border-radius: 50px;
  font-size: 12px;

  width: max-content;
}

/* .category.Web-dev {
  background-color: #ff79574f;
} */

.webdev {
  background-color: #57c4ff31;
}

.Frontend {
  background-color: #da85c731;
}

.Backend {
  background-color: #7fb88133;
}

.AI {
  background-color: #ff795736;
}

.Mobiledev {
  background-color: #ffb04f45;
}

.model3D {
  background-color: #5e4fff31;
}

.postTitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--softTextColor);
  font-style: italic;
}

.detail {
  font-size: 12px;
}

.date {
  color: gray;
}
